<!-- HEADING -->
<div class="text-center">
    <h1 class="text-warning pt-2 pt-4 pb-4">LOCATION FINDER</h1>
</div>


<!-- SEARCH BOX -->
<div class="input-group d-flex justify-content-center searchBoxDiv mb-4">
    <div class="form-outline">
        <input type="search" [(ngModel)] = "searchBoxString" class="form-control" placeholder="Enter a Location"/>
    </div>
    <button type="button" class="btn btn-warning" (click)="getLocationStringAndConvertToCoordinates()">
      <i class="fa fa-search"></i>
    </button>
</div>


<!-- MAP RESULT -->
<div class="map-search-result-area  d-flex flex-column align-items-center mb-4">
    <div class="map-search-result-options rounded" *ngFor="let x of allLocationOptions.locationName | keyvalue">
        <span class="d-block bg-dark text-light mb-2" (click)="plotOnMap(x.key)" style="cursor: pointer">{{ x.value }}</span>
    </div>
</div>


<!-- THE MAP -->
<div class="map" id="map" class="match-parent container-fluid border border-warning"> 
</div>

